# Data Preprocessing Tools

---

### Importing Libraries

In [3]:
import numpy as np # Numerical computing
import matplotlib.pyplot as plt # Plotting
import pandas as pd # Data analysis

### Import the Dataset

In [4]:
dataset = pd.read_csv('Data.csv')

In [5]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

A dataset always have two chracteristics, features and dependent variables vector. The features are the ***parameters*** that you used to predict the ***dependent*** vector.

The features should be separated from the dependent variable vector.

---

### Spliting the dataset

To take separated sections of the dataset we have to use `iloc`, which take the integr indexes of the columns and rows.

It works similarly to a common Python list, but you have to pass to ranges with the format `[row1:row2,col1:col2]`.

In [15]:
x = dataset.iloc[:, :-1]

In [16]:
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [19]:
y = dataset.iloc[:, -1]

In [20]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object